<h1 class="title is-3">Types</h1>

<div class="table-container">
  <table class="table is-fullwidth is-striped">
    <thead>
      <td>Name</td>
    </thead>

    <tbody>
      <%@types.each do |type|%>
      <tr>
        <td><%=link_to type.name.capitalize, type%></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>