<h1 class="title is-3">Locations</h1>

<div class="table-container">
  <table class="table is-striped is-narrow is-hoverable is-fullwidth ">
    <thead>
      <td style="flex: 1">Name</td>
    <tbody style="">
      <% @locations.each do |location| %>
        <tr >
          <td><%=link_to location.name.capitalize, location%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
